.forgot-password-main-container {
  .mat-card {
    -webkit-backdrop-filter: blur(10px) !important;
    backdrop-filter: blur(10px) !important;
    background-color: transparent !important;
  }
  /* position: absolute; */
  /* width: 100%; */
  /* display: flex; */
  /* justify-content: center; */
  margin-top: 100px;
  form {
    width: 300px;
  }
  button {
    width: 100%;
  }
  p {
    text-align: center;
    padding: 5px;
    color: black;
  }
  hr {
    border: none;
    border-bottom: 1px solid lightGray;
    margin: 5px 0 5px 0;
  }
}
