<footer class="footer-main-container">
  <span>littlePaws1.1@2022</span>
  <ul>
    <li>
      <fa-icon [icon]="faBuilding"></fa-icon>MIT WPU, kothrud ( Pune )
      Maharashtra
    </li>
    <li><fa-icon [icon]="faMobileRetro"></fa-icon>9876543210</li>
    <li><fa-icon [icon]="faEnvelope"></fa-icon>help@littlepaws.com</li>
  </ul>
  <ul>
    <li>
      <a
        style="text-decoration: none; color: inherit"
        href="https://github.com/arvindchoudhary33/littlepaws_1.1"
        target="_blank"
      >
        <fa-icon
          style="font-size: 20px; margin-right: 5px"
          [icon]="faGithub"
        ></fa-icon>
      </a>
    </li>
  </ul>
</footer>
