<div class="faq-container">
  <div class="faq-sub-container">
    <img class="faq-image" src="../../../assets/images/faq_images/14.png" />
    <mat-accordion class="faq-questions">
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> How do I search for a pet? </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          You can first filter out dog and cat, then use the custom search
          filters to filter out for eg: kharadi, spayed, white etc (**The tag
          filter is still in beta and not very precise)
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Are there any charges for adoption ?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>No, there are no charges. Its a free adoption platform.</p>
      </mat-expansion-panel>

      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Why should I foster a pet ? </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          As a foster parent, you will be able to love, care for, and enjoy to
          get know a pet . And you will be doing a wonderful thing – giving
          these loving animals a chance to a new life.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            What will I need to do to be a foster parent?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Foster homes are responsible for feeding, exercising, socialising,
          grooming, reinforcing basic obedience instructions, studying and
          evaluating overall behaviour and temperament, and, of course,
          providing patience, love, and security to the fostered cat or dog on a
          regular basis. It's important to remember that all of the animals are
          rescued, and their behaviour might be unpredictable. Prepare yourself
          for some initial adjustment challenges. Being in a new scenario can be
          stressful for both you and your pet. Wait patiently. We will offer
          advice and encouragement if the going gets tough.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> What if I want to travel? </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          If you are fostering and want to go away for a weekend or take a
          vacation then there are many foster homes available that can take care
          of your pets as you might had and there might be some charges for
          same.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            How long does the adoption process take?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          The adoption process usually does not take more than 2 days but
          depends on many different scenarios
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Can I request a particular breed? </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Though you can filter search for a breed if someone put that
          particular breed and search tag. But we'd suggest to adopt
          irrespective of breed.Please.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            I’d Like To Foster. What Do I Do Next?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          If you are interested in fostering, please complete and submit a
          volunteer application. You will need to complete a volunteer
          orientation and volunteer at the shelter before becoming a foster
          volunteer.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            What if it doesn’t work out with my new pet?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          While we always recommend giving your new pet significant time to
          adjust to its new environment, if your new pet does not work out for
          any reason.We'd suggest you should talk with the present foster
          parents before adopting and get familiar with pets temperament, habits
          and comfort and dis-comfort zones etc. Also you can request the
          present foster parents regarding ( if things doesn't workout with the
          pet) and take the next step to adoption accordingly.
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
