@use "../../../colors" as v;
.login-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.login-forgot-password {
  font-family: "Ubuntu";
  text-align: right;
  font-size: 13px;
  color: map-get(v.$blue-grey-palette, 700);
  font-weight: 100;
  padding: 10px;
  text-decoration: underline;
  cursor: pointer;
}
