@use "../../../colors" as v;
.verify-email-main-container {
  /* position: absolute; */
  /* width: 100%; */
  margin-top: 100px;
  /* display: flex; */
  /* justify-content: center; */
  padding: 10px;

  a {
    text-decoration: none;
    font-size: 1em;
    padding: 5px;
    text-decoration: none;
    text-underline-offset: 3px;
    color: map-get(v.$blue-palette, 400);
    transition: background-color linear 0.2s;
  }
  a:hover {
    /* border-bottom: 5px solid map-get(v.$blue-palette, 400); */
    background-color: map-get(v.$blue-palette, 300);
    color: white;
  }
}

.verify-email-mat-card {
  /* color: white; */
  text-decoration: none !important;
  /* background-color: map-get(v.$green-palette, 600); */
}
